<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about blog</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>create new post</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Main</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/registration">registration</a></li>
            <li class="active"><a href="/create_post">create blog</a> </li>
            <li><a href="/about">about blog</a></li>
        </ul>
    </div>
</nav>

<h1>New posts</h1>
<form name='create_post_form' th:action="@{/create_post}" th:value="post" enctype="utf8" method="post">
    <table>
        <tr>
            <td>Post:</td>
            <tr>
                Name:
                <input type="text" th:field="${post.name}"/>
                <br>
            </tr>
            <tr>Topic: <br>
                <input type="text" th:field="${post.topic}"/>
                <br>
            </tr>
            <tr>
                Text: <br>
                <textarea th:field="${post.text}"/>
                <br>
            </tr>
        <tr>
            Author: <br>
            <input type="text" th:field="${post.author}"/>
            <br>
        </tr>

        <tr>
            <td><input name="create_post_button" type="submit" value="create" /></td>
        </tr>

    </table>
</body>
</html>