<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Main</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/registration">registration</a></li>
            <li><a href="/create_post">create blog</a> </li>
            <li><a href="/about">about blog</a></li>
            <li><a href="/user_page" th:text="${name}"></a></li>
        </ul>
    </div>
</nav>

<H2>It is the main page of blog</H2>
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <ul th:each="post : ${listPost}" class="list-group">
            <li class="list-group-item"> <span th:text="${post.topic}"></span> <a th:href="@{'/post/id'(id=${post.id})}"> <span th:text=" ${post.name}"></span> </a>
        </ul>
    </div>
        <div class="col-md-8">
            <div class="card border-danger">
                <!-- card-header -->
                <div class="card-header bg-danger text-white">
                    Поиск постов по теме
                </div>
                <!-- card-body -->
                <div class="card-body">
                    <!-- HTML форма -->
                    <form action="#" role="search">
                        <div class="input-group">
                            <input type="text" name="search_posts" class="form-control" placeholder="Тема" value="">
                            <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Поиск</button>
                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="tag tag-info">
        <span th:text="${name}"></span>
    </div>
</div>
</body>
</html>