<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Web blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Main</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/registration">registration</a></li>
            <li><a href="/create_post">create blog</a></li>
            <li><a href="/about">about blog</a></li>
            <li><a href="/user_page" th:text="${name}"></a></li>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search_posts">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" role="search_post">Search</button>
            </form>
        </ul>
    </div>
</nav>

<H2>It is the main page of blog</H2>
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div th:each="post: ${listPost}">
            <div class="jumbotron">
                <h1 class="display-4"><span th:text="${post.title}"</span> </h1>
                <p class="lead"><span th:text="${post.topic}"></span></p>
                <hr class="my-4">
                <p><span th:text="${post.author.username}"></span></p>
                <p class="lead">
                    <a th:href="@{/post/{id}(id = ${post.id})}">
                        <div class="btn btn-primary btn-lg" role="button">read it</div>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
Logged user: <span sec:authentication="name"><span th:text="${name}"></span></span>

</body>
</html>